.careers-health-section {
    margin-top: 132px;
    background-image: url(/images/careers-Bitmap.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      .careers-health-section {
      background-image: url(/images/careers-bitmap@2x.png);
    }
  }
  .careers {
      padding: 73px 0;
    font-size: 56px;
    line-height: 56px;
    color: #ffffff;
  }
  @media only screen and (max-width: 457px){
    .careers-health-section{
      background-position: center;
    }
    .careers{
      text-align: center;
    }
  }
  