.about-health-section {
  margin-top: 135px;
  background-image: url(/images/about-bitmap.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .about-health-section {
    background-image: url(/images/about-bitmap@2x.jpg);
  }
}
.about {
    padding: 73px 0;
  font-size: 56px;
  line-height: 56px;
  color: #ffffff;
}
@media only screen and (max-width: 457px){
  .about-health-section{
    background-position: center;
  }
  .about{
    text-align: center;
  }
}
